# Building Predictive Models

In [1]:
import pandas as pd
import os
import numpy as np

## Import Data

In [2]:
# set the path of the processed data
processed_data_path = os.path.join(os.path.pardir, 'data','processed')
train_file_path = os.path.join(processed_data_path, 'train.csv')
test_file_path = os.path.join(processed_data_path, 'test.csv')

In [3]:
train_df = pd.read_csv(train_file_path, index_col='PassengerId')
test_df = pd.read_csv(test_file_path, index_col='PassengerId')

In [4]:
train_df.info()
# in train data frame, we have 891 rows and 33 features; out of these 33 features, 'Survived' is the output label,
# while, the rest of 32 features will be used to build the model;

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 33 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Survived            891 non-null    int64
 1   Age                 891 non-null    float64
 2   Fare                891 non-null    float64
 3   FamilySize          891 non-null    int64
 4   IsMother            891 non-null    int64
 5   IsMale              891 non-null    int64
 6   Deck_A              891 non-null    int64
 7   Deck_B              891 non-null    int64
 8   Deck_C              891 non-null    int64
 9   Deck_D              891 non-null    int64
 10  Deck_E              891 non-null    int64
 11  Deck_F              891 non-null    int64
 12  Deck_G              891 non-null    int64
 13  Deck_Z              891 non-null    int64
 14  Pclass_1            891 non-null    int64
 15  Pclass_2            891 non-null    int64
 16  Pclass_3            891 non-null    int64
 17  Title_Lady          891 non-null    int64
 18  Title_Master        891 non-null    int64
 19  Title_Miss          891 non-null    int64
 20  Title_Mr            891 non-null    int64
 21  Title_Mrs           891 non-null    int64
 22  Title_Officer       891 non-null    int64
 23  Title_Sir           891 non-null    int64
 24  Fare_Bin_very_low   891 non-null    int64
 25  Fare_Bin_low        891 non-null    int64
 26  Fare_Bin_high       891 non-null    int64
 27  Fare_Bin_very_high  891 non-null    int64
 28  Embarked_C          891 non-null    int64
 29  Embarked_Q          891 non-null    int64
 30  Embarked_S          891 non-null    int64
 31  AgeState_Adult      891 non-null    int64
 32  AgeState_Child      891 non-null    int64
dtypes: float64(2), int64(31)
memory usage: 236.7 KB

In [5]:
test_df.info()
# in test data frame, we have 418 rows and 32 features; we need to predict the survival for these passengers;

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 32 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 418 non-null    float64
 1   Fare                418 non-null    float64
 2   FamilySize          418 non-null    int64
 3   IsMother            418 non-null    int64
 4   IsMale              418 non-null    int64
 5   Deck_A              418 non-null    int64
 6   Deck_B              418 non-null    int64
 7   Deck_C              418 non-null    int64
 8   Deck_D              418 non-null    int64
 9   Deck_E              418 non-null    int64
 10  Deck_F              418 non-null    int64
 11  Deck_G              418 non-null    int64
 12  Deck_Z              418 non-null    int64
 13  Pclass_1            418 non-null    int64
 14  Pclass_2            418 non-null    int64
 15  Pclass_3            418 non-null    int64
 16  Title_Lady          418 non-null    int64
 17  Title_Master        418 non-null    int64
 18  Title_Miss          418 non-null    int64
 19  Title_Mr            418 non-null    int64
 20  Title_Mrs           418 non-null    int64
 21  Title_Officer       418 non-null    int64
 22  Title_Sir           418 non-null    int64
 23  Fare_Bin_very_low   418 non-null    int64
 24  Fare_Bin_low        418 non-null    int64
 25  Fare_Bin_high       418 non-null    int64
 26  Fare_Bin_very_high  418 non-null    int64
 27  Embarked_C          418 non-null    int64
 28  Embarked_Q          418 non-null    int64
 29  Embarked_S          418 non-null    int64
 30  AgeState_Adult      418 non-null    int64
 31  AgeState_Child      418 non-null    int64
dtypes: float64(2), int64(30)
memory usage: 107.8 KB